.grid-container {
    display: grid;
    max-width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50% 50%;
    grid-gap: 2px;
    background-color: #2196F3;
}

.grid-container > * {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item1 {
    grid-column: 1/5;
}
